<!--Step 47 in the workflow-->
<table>
    <tr valign="top">
        <td>
            <!-- user.avatar was changed to post.author.avatar, step 79 of the Workflow -->
            <img src="{{post.author.avatar(36)}}" alt="Gravatar">
        </td>
        <td>
            <!-- wrapping the username in <a> tag is step 79 of the Workflow -->
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{post.author.username}}
            </a> says: <br>{{post.body}}
        </td>
    </tr>

</table>