{% extends "base.html" %}

{% block content %}

<!--Step 47 in the workflow-->
<table>
    <!--Table row-->
    <tr valign="top">
        <td>
            <!--Data container-->
            <img src="{{user.avatar(128)}}" alt="Gravatar">
        </td>
        <td>
            <h1>User: {{ user.username }}</h1>

            <!--Step 51 in the Workflow-->
            {% if user.about_me %}
            <p>
                {{ user.about_me}}
            </p>
            {% endif %}

            {% if user.last_seen %}
            <p>
                Last seen on: {{user.last_seen}}
            </p>
            {% endif %}
        </td>
    </tr>
</table>

<hr>

{% for post in posts %}

<!--Step 48 in the Workflow-->
{% include "_posts.html" %}

{% endfor %}

{% endblock %}