{% extends "base.html" %}

{% block content %}

<table>
    <!--Table row-->
    <tr valign="top">
        <td>
            <!--Data container-->
            <img src="{{user.avatar(128)}}" alt="Gravatar">
        </td>
        <td>
            <h1>User: {{ user.username }}</h1>
        </td>
    </tr>
</table>

<hr>

{% for post in posts %}

<table>
    <tr>
        <td>
            <img src="{{user.avatar(36)}}" alt="Gravatar">
        </td>
        <td>
            {{post.author.username}} says: <br>{{post.body}}
        </td>
    </tr>

</table>


{% endfor %}

{% endblock %}